
body { background-image: linear-gradient(76deg, #e8e846 ,#d5d573, #e7e78d );
}

main{ color : rgb(19, 111, 39);
    background-color: aliceblue;
    width: 800px;
    padding: 15px;
    margin: 180px;
    border-radius: 15px;
    box-shadow: 5px, 5px,15px;
}

p{ text-align: center;}

h1{
    text-align: center;
}


